@font-face {
   font-family: 'Anton';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/dominiques/Desktop/AresBOT/Pegasus/fonts/Anton/regular.ttf') format('truetype');
}
